<div class="container" ng-show="loggedIn">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="msg in messages">
            <span class="label label-info">{{ msg.user }}</span>
            <span>{{ msg.message }}</span>
        </li>
    </ul>
    <form ng-submit="send()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="message">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Send</button>
            </span>
        </div>
    </form>
</div>
