<div class="container" id="signin">
  <form class="form-signin" ng-submit="login()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="User name" required autofocus
           ng-model="name">
    <input type="password" class="form-control" placeholder="Password" required
           ng-model="pass">
    <div class="alert alert-danger" ng-show="err">{{ err }}</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
