<div class="col-xs-3">
    <h4>Rooms:
        <button type="button" class="btn btn-info btn-xs pull-right"
                chat-room-modal>Create...</button>
    </h4>
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="room in rooms"
            ng-class="{active: room.name==currentRoom}">
            <a href="#" ng-click="room.name!=currentRoom && changeRoom(room.name)">
                <span>{{ room.name }}</span>
                <span class="badge pull-right">{{ room.online }}</span>
                <span class="badge pull-right" ng-if="room.pass">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
            </a>
        </li>
    </ul>
</div>
