<div class="container" ng-show="loggedIn" id="chat">
    <div class="row">
        <div class="col-xs-9" scroll-glue>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="msg in messages">
                    <span class="label label-default">{{ msg.date }}</span>
                    <span class="label label-info">{{ msg.user }}</span>
                    <span ng-bind-html="msg.text | unsafe"></span>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h4>Rooms:
                <button type="button" class="btn btn-info btn-xs pull-right"
                        chat-room-modal>Create...</button>
            </h4>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="room in rooms" ng-class="{active: $index==currentRoom}">
                    <a href="#" ng-click="changeRoom($index)">
                        <span>{{ room.name }}</span>
                        <span class="badge pull-right">{{ room.online || 0 }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" ng-show="loggedIn" id="chat-form">
    <form ng-submit="send()">
        <div class="input-group">
            <input type="text" class="form-control"
                   ng-model="message" em-typeahead>
            <span class="input-group-btn">
                <button class="btn btn-default btn-smile" type="button"
                        ng-model="message" em-popover></button>
                <button class="btn btn-primary" type="submit">Send</button>
            </span>
        </div>
    </form>
</div>
