<div class="container" ng-show="loggedIn" id="chat" scroll-glue>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="msg in messages">
            <span class="label label-default">{{ msg.date | date:'HH:mm' }}</span>
            <span class="label label-info">{{ msg.user }}</span>
            <span>{{ msg.message }}</span>
        </li>
    </ul>
</div>
<div class="container" ng-show="loggedIn" id="chat-form">
    <form ng-submit="send()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="message">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Send</button>
            </span>
        </div>
    </form>
</div>
